*
{
    box-sizing: border-box;
  font-family: 'Rokkitt', serif;
}

.loader
{
    text-align: center;
}

.loader img
{
    max-height: 0;
    margin: 0;

    -webkit-transition: 1s all ease;
       -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
         -o-transition: 1s all ease;
            transition: 1s all ease;
}

.loader.active img
{
    max-height: 50px;
    margin: 10px auto 20px;
}

.notification-bar
{
    font-size: 13px;
    font-weight: bold;

    position: fixed;
    top: -60px;

    width: 100%;

    -webkit-transition: 300ms top ease;
       -moz-transition: 300ms top ease;
        -ms-transition: 300ms top ease;
         -o-transition: 300ms top ease;
            transition: 300ms top ease;
    text-align: center;

    color: white;
    background: rgba(241, 196, 15,.9);
}

.notification-bar.active
{
    top: 0;
}

.notification-bar a
{
    color: white;
}

.tweets
{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.tweet
{
    position: relative;

    display: block;
    overflow: hidden;

    max-height: 0px;
    margin: 0;

    list-style-type: none;

    color: #2c3e50;
    border-radius: 3px;
    background: white;
    box-shadow: 0 3px 0 #eee;
}

.tweet.active
{
    max-height: 125px;
    margin: 20px 0;

    -webkit-transition: 1s all ease;
       -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
         -o-transition: 1s all ease;
            transition: 1s all ease;
}

.avatar
{
    position: absolute;
    display: inline;
    float: left;
    height: 70px;
    left: -10px;
    margin: 0px;

}

.tweet-text-box
{
  /*left: 20px;*/
  width: 180px;
  margin: 0;
  padding: 10px;
}

.tweet-text
{
    font-size: 14px;
    /*display: block;*/
    /*float: left;*/
    left: 0px;
    /*right: 200px;*/
    /*width: 1000px;*/
    height: 65px;
    margin: 0px;
    bottom: 0px;
    padding: 0px;
}

.tweet-section {
  height: 460px;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media (max-width: 650px)
{
    footer span.update-message
    {
        display: none;
    }
}

@media (max-width: 500px)
{
    footer a.link-back
    {
        font-size: 0;
    }
    footer a:after
    {
        font-size: 12px;

        content: '← Back To Learning React';
    }
}

.announce-font {
  font-size: 18px;
}

.example-enter {
  opacity: 0.01;
  /*transition: opacity .5s ease-in;*/
  /*transform: translate3d(-100%, 0, 0);*/
  transform: translate(100%, 0);
  /*transition: transform 1s ease-in;*/
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform .5s ease-in;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.main-logo {
  width: 60%
}

.small-padding-panel {
  padding: 0 !important;
  margin: 0 !important;
}

.schedule-text {
  font-size: 12px;
}

.schedule-room {
  color: #5A8D26;
}

.orange-color {
  color: #F17E29;
}

.bgColorGreen {
  background-color: #5A8D26;
}

.bgColorOrange {
  background-color: #EB6B21;
}
